<div id="mainDiv" class="centerContent bg">
    <h1 class="w-100 txt-center">BITCOIN PAYMENT</h1>
  
    <img class="img-style-loading" id="loadImg" src="../assets/imgs/load.gif" alt="Submit" width="65" height="65">
  
    <p class="w-100 txt-center txt-25" id="magazineNameLbl"></p>
  
    <p class="w-100 txt-center txt-20" id="magazineName"></p>
  
    <p class="w-100 txt-center txt-25" id="magazinePriceLbl"></p>
  
    <p class="w-100 txt-center txt-20" id="magazinePrice"></p>
  
    <input class="img-style" id="paymentImg" type="image" src="../assets/imgs/bitcoin.png" alt="Submit" width="170" height="65" (click)="goToPaymentUrl()">
  </div>