<h2> Choose payment method</h2>


<form #f="ngForm" (submit)="submitForm(f)" novalidate>

  <div>
    <input id="paypal" type="radio" class="custom-control-input" value="paypal" name="payment" ngModel required>
    <label class="custom-control-label" for="paypal">Paypal</label>
  </div>

  <div>
    <input id="bitcoin" type="radio" class="custom-control-input" value="bitcoin" name="payment" ngModel required>
    <label class="custom-control-label" for="bitcoin">Bitcoin</label>
  </div>

  <div>
    <input id="bank" type="radio" class="custom-control-input" value="bank" name="payment" ngModel required>
    <label class="custom-control-label" for="bank">Bank</label>
  </div>

  <div *ngIf="isSubmitted && f.invalid">
    <p>Please select either value</p>
  </div>


  <button type="submit" class="btn btn-danger btn-lg btn-block">Find out payment method</button>
</form>
